# This file is maintained by the Juju - Elasticsearch Charm
# Please use the custom-config option of the charm to customize
# this file

cluster.name: {{ cluster_name }}
http.port: 9200
network.host: ["0.0.0.0"]
network.publish_host: ["{{ cluster_network_ip }}"]


path.logs: /var/log/elasticsearch
path.data: /srv/elasticsearch-data

discovery.seed_providers: file

{% if discovery_type %}
{{discovery_type}}
{% endif %}

{{bootstrap_memory_lock}}

{{xpack_security_enabled}}

{% if cluster_initial_master_nodes %}
cluster.initial_master_nodes:
{%- for node in cluster_initial_master_nodes %}
- {{node}}
{% endfor %}
{% endif %}


{{ node_type }}
