# This file is maintained by the Juju - Elasticsearch Charm
# Please use the custom-config option of the charm to customize
# this file

cluster.name: {{ cluster_name }}
http.port: 9200
network.host: ["0.0.0.0"]
network.publish_host: ["{{ cluster_network_ip }}"]


path.logs: /var/log/elasticsearch
path.data: /srv/elasticsearch-data

{{ node_type }}



discovery.seed_providers: file
{% if discovery_type %}
{{discovery_type}}
{% endif %}

{{bootstrap_memory_lock}}

{{ custom_config }}

xpack.monitoring.enabled: true
{{ xpack_security_enabled }}
{% if xpack_security_enabled == "xpack.security.enabled: true" %}
{{xpack_security_transport_ssl_enabled}}
{{xpack_security_transport_ssl_verification_mode}}
{{xpack_security_transport_ssl_keystore_path}}
{{xpack_security_transport_ssl_truststore_path}}
{% endif %}
