# This file is maintained by the Juju - Elasticsearch Charm
# Please use the custom-config option of the charm to customize
# this file

cluster.name: {{ cluster_name }}
http.port: 9200
network.host: ["0.0.0.0"]
network.publish_host: ["{{ cluster_network_ip }}"]


path.logs: /var/log/elasticsearch
path.data: /srv/elasticsearch-data

discovery.type: single-node
discovery.seed_providers: file

bootstrap.memory_lock: true


{{ node_type }}


{{ xpack_security_config }}


{{ custom_config }}
